{
    "env": {
        "browser": true,
        "es2021": true,
        "node": true,
        "jest": true
    },
    "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "module"
    },
    "extends": [
        "airbnb",
        "prettier",
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:react-hooks/recommended"
    ],
    "plugins": ["react", "react-hooks", "prettier"],
    "rules": {
        "prettier/prettier": "error",
        "react/prop-types": "off",
        "react/no-danger": "off",
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [".js", ".jsx"]
            }
        ],
        "react/function-component-definition": [
            2,
            {
                "namedComponents": "arrow-function",
                "unnamedComponents": "arrow-function"
            }
        ],
        "import/prefer-default-export": "off",
        "react/jsx-props-no-spreading": "off"
    },
    "settings": {
        "import/resolver": {
            "alias": [
                ["@components", "./src/components"],
                ["@contexts", "./src/contexts"],
                ["@content", "./src/content"],
                ["@constants", "./src/constants"],
                ["@hooks", "./src/hooks"],
                ["@images", "./src/images"],
                ["@styles", "./src/styles"],
                ["@utils", "./src/utils"],
                ["@libs", "./src/libs"],
                ["@tests", "./tests"]
            ]
        }
    }
}
